.App-wrapper {
    display: grid;
    margin: 20px 0 0 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.error {
    border: 2px solid #c20303;
}

.error_message {
    color: #c20303;
    font-size: 14px;
    font-weight: 700;
}

.active_filter {
    background-color: coral;
}

.is_Done {
    opacity: 0.7;
}